@import "variables";
@import "../tests-valo/valotest";

.tests-valo-facebook {
   @include valotest;

   //========================================
  // UNILITY CSS RULES
  //========================================
  .BACKGROUND_BLUE {
     background-color:#3bb697;
  }

  .TEXT_WHITE {
     color: #ffffff;
  }

  .TEXT_BLUE {
     color:#3bb697;
  }

  .TEXT_RED {
     color:#e62020;
  }

  .FONT_TAHOMA {
     font-family: Tahoma, Verdana, Segoe, sans-serif;
  }

   .TEXT_CENTER {
     text-align:center;
     vertical-align: middle;
  }

   .FONT_LARGE {
      font-size: 25px;
   }
   .FONT_OVERSIZE {
      font-size: 40px;
   }

   .FONT_OVER_OVERSIZE {
      font-size: 50px;
   }
   .FULL_SIZE {
      width:100%;
      height:100%;
   }

   .BUTTON_GIGANTIC {
      height: 60px;
      padding: 0 20px;
      font-size: 40px;
      border-radius: 6px;
   }
  //========================================
  // CLASS CSS
  //========================================

   .v-popupview-popup-leftMenuStyle {
      top:0px;
      width:60%;
      height:100%;
   }

   .v-popupview-popup-popupStyle {
      left: 30% !important;
      top: 25% !important;
      width: 50%;
   }

  .customizationButton {
     background-color:#3bb697;
     background-image:none;
     border:1px solid #ffffff;
     color:#ffffff;
  }

    .margin-left1 {
        margin-left: 1px;
    }
    .margin-right1 {
        margin-right: 1px;
    }

    .margin-bottom1 {
        margin-bottom: 1px;
    }

    .elementContainerStyle {
        margin-bottom: 20px;
    }

    .v-ui.valo-menu-responsive[width-range~="0-800px"] .table-list-view {
        margin-top: 20px;
    }
    .v-table-cell-wrapper {
        white-space: normal;
    }

    .v-table-resizer {
        display: none;
    }

    .v-table-cell-wrapper .v-filterselect {
        width: 100px !important;
    }
    .text-align-left{
        text-align: left;
    }

    .v-table-header-cell {
        font-size: large !important;
    }

    .v-table-table {
        font-size: large !important;
    }

    .gwt-MenuItem {
        font-size: large !important;
    }

    .table-name-orderList {
        font-size: 30px;
        background-color:#ffffff;
        background-image:none;
        color:#3bb697;
        margin-top: 1px;
    }
    
    .top-line{
        margin-top: 1px;
        margin-bottom: 1px;
        height: 1px;
        background-color:#3bb697;
    }
    .bottom-line{
        margin-top: 1px;
        //margin-bottom: 3px;
        height: 1px;
        background-color:#3bb697;
    }
    .scrollable {
        overflow: auto;
    }

    .hoverImage:hover {
        background-color: #3bb697;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
        background-image: -webkit-linear-gradient(top, #3bb697, #e7e7e7); 
        background-image: -moz-linear-gradient(top, #3bb697, #e7e7e7); 
        background-image: -ms-linear-gradient(top, #3bb697, #e7e7e7); 
        background-image: -o-linear-gradient(top, #3bb697, #e7e7e7);
        border-radius: 50%;
        background-color:#3bb697;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    }

    .hoverImage {
        background-color: #f7f7f7;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
        background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
        background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
        background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
        background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
        border-radius: 50%;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    }
    .margintop100{
        margin-top: 100px;
    }

    .margintop10{
        margin-top: 10px;
    }

    .valo-content > .v-layout {
        max-width: 100%;
    }

    .v-ui.valo-menu-responsive[width-range~="0-800px"] .valo-menu-title {
        height: 40px !important;
    }

    .valo-menu-toggle {
        height: 34px !important;
    }

    .v-ui.valo-menu-responsive[width-range~="0-800px"] .valo-menuitems {
        top: 40px !important;
    }
    
    .v-table-row.v-table-row-highlight-red,
    .v-table-row-odd.v-table-row-highlight-red {
        color:#e62020;
    }

    .close-style .v-window-closebox {
        width: 60px !important;
        height: 35px;
        font-size: 40px;
        color: #ffffff;
        border-radius: 3px;
        border: 1px solid #2e4678;
        border-top-color: #344e81;
        border-bottom-color: #253966;
        background-color: #3b5998;
        background-image: -webkit-linear-gradient(top, #4263a4 2%, #2f4982 98%);
        background-image: linear-gradient(to bottom,#4263a4 2%, #2f4982 98%);
        -webkit-box-shadow: inset 0 1px 0 #657bb3, 0 1px 0 rgba(0, 0, 0, 0.04);
        box-shadow: inset 0 1px 0 #657bb3, 0 1px 0 rgba(0, 0, 0, 0.04);
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
        padding: 3px;
        font-weight: bold;
        text-align: center;
    }

    .large-checkbox .v-checkbox-large > input ~ label:before {
        height: 35px !important;
        width: 35px !important;
    }

    .large-checkbox .v-checkbox-large > input ~ label:after {
        font-size: 30px !important;
        width: 35px !important;
        height: 35px !important;
    }
}
